<section class="cid-rHIrzhbjT5" id="footer5-3p">
    <div class="container">
        <div class="media-container-row">
            <div class="col-md-3">
                <div class="media-wrap">
                    <a routerLink="/">
                        <img src="assets/images/imagen4-192x127.png" alt="Kiworx" title="Kiworx">
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <p class="mbr-text align-right links mbr-fonts-style display-7">
                    <br><strong><span>{{ 'FOOTER.CONTACT' | translate }}</span></strong>
                    <br>{{ 'FOOTER.email' | translate }}: <a class="footer-gray-link" href="mailto:hola@kiworx.net">hola@kiworx.net</a>
                    <br>{{ 'FOOTER.Phone' | translate }}: <a class="footer-gray-link" href="+34669981666">(+34) 6699 81666</a>
                    <br>{{ 'FOOTER.Phone' | translate }}: <a class="footer-gray-link" href="+34669981666">(+34) 6956 33539</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-md-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-4">© Copyright 2019 Kiworx | {{ 'FOOTER.Phone' | translate }}. (+34) 669981666 | {{ 'FOOTER.email' | translate }}: hola@kiworx.net</p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item" style="display: none;">
                            <a href="https://twitter.com/Kiworx1" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(107, 66, 206); fill: rgb(107, 66, 206);"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/kiworx" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(133, 106, 198); fill: rgb(133, 106, 198);"></span>
                            </a>
                        </div>
                        <div class="soc-item" style="display: none;">
                            <a href="https://t.me/kiworx">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-telegram socicon" style="color: rgb(133, 106, 198); fill: rgb(133, 106, 198);"></span>
                            </a>
                        </div>
                        <div class="soc-item" style="display: none;">
                            <a href="https://www.instagram.com/kiworx/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(133, 106, 198); fill: rgb(133, 106, 198);"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.linkedin.com/company/kiworx" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(133, 106, 198); fill: rgb(133, 106, 198);"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>