<section class="cid-rH84lVxAlX" id="footer1-24">
    
        
    
        
    
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">
                        <a href="https://mobirise.co/">
                            <img src="assets/images/i-292x192.png" alt="Mobirise" title="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7" style="display: none;">
                    <h5 class="pb-3">
                        Nosotros</h5>
                    <p class="mbr-text">Sobre Kiworx<br>Equipo</p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Contacto</h5>
                    <p class="mbr-text">
                        Email: hola@kiworx.net<br>Phone: (+34) 6699 81666 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Phone: (+34) 6956 33539<br><br></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7" style="display: none;">
                    <h5 class="pb-3">
                        Blog</h5>
                    <p class="mbr-text"><br><br><br></p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-4">© Copyright 2019 Kiworx | Tel. (+34) 669981666 | Email: hola@kiworx.net</p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item" style="display: none;">
                                <a href="https://twitter.com/Kiworx1" target="_blank">
                                    <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(154, 244, 204); fill: rgb(154, 244, 204);"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.facebook.com/kiworx" target="_blank">
                                    <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(154, 244, 204); fill: rgb(154, 244, 204);"></span>
                                </a>
                            </div>
                            <div class="soc-item"  style="display: none;">
                                <a href="https://t.me/kiworx" target="_blank">
                                    <span class="mbr-iconfont mbr-iconfont-social socicon-telegram socicon" style="color: rgb(154, 244, 204); fill: rgb(154, 244, 204);"></span>
                                </a>
                            </div>
                            <div class="soc-item" style="display: none;">
                                <a href="https://www.instagram.com/kiworx" target="_blank">
                                    <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(154, 244, 204); fill: rgb(154, 244, 204);"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.linkedin.com/company/kiworx" target="_blank">
                                    <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(154, 244, 204); fill: rgb(154, 244, 204);"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>