<section class="header3 cid-rHdMvVnapO" id="header3-26">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 70%;">
                <img src="assets/images/mbr-818x545.jpg" alt="Kiworx" title="Kiworx">
            </div>
            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    <br>
                    <div>
                        <strong>{{'ATTRACT.We work with you' | translate }}</strong>
                    </div>
                </h1>
                <h3 class="mbr-section-subtitle align-left mbr-white mbr-light pb-3 mbr-fonts-style display-5">
                        {{'ATTRACT.We work together to know you thoroughly, understanding the' | translate }} <strong>{{'ATTRACT.company culture and its values' | translate }}</strong>.
                    <br><br>
                    <div>
                        {{'ATTRACT.We also understand what' | translate }} <strong>{{'ATTRACT.needs and positions' | translate }}</strong> {{'ATTRACT.to cover you have.' | translate }}
                    </div>
                    <br>
                    <div>
                        {{'ATTRACT.And with all these, we will jointly design the' | translate }} 
                        <strong>{{'ATTRACT.pattern of success' | translate }}</strong>
                        {{'ATTRACT.that your employees must have to guarantee success' | translate }}
                    </div>
                </h3>
                <div class="mbr-section-text mbr-white pb-3 "></div>
            </div>
        </div>
    </div>
</section>
    
<section class="header3 cid-rHdPjc0Rqv" id="header3-28">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 80%;">
                <img src="assets/images/joven1-908x625.png" alt="Mobirise" title="">
            </div>
            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1"><br><br><strong>{{'ATTRACT.we define together the employment web' | translate }}</strong></h1>
                <h3 class="mbr-section-subtitle align-left mbr-white mbr-light pb-3 mbr-fonts-style display-5">
                    <br><strong>{{'ATTRACT.Your website is your showcase!' | translate }}</strong> 
                    {{'ATTRACT.Candidates want to know who you are and what makes you different.' | translate }}
                    <br><br>
                    <div>
                        {{'ATTRACT.That is why we create your' | translate }} 
                        <strong>{{'ATTRACT.employment website' | translate }}</strong>
                        {{'ATTRACT.with the best practices so that you can attract your candidates and improve their perception of you.' | translate}}
                    </div>
                </h3>
                <div class="mbr-section-text mbr-white pb-3 "></div>
            </div>
        </div>
    </div>
</section>
    
<section class="header3 cid-rHdPlo8wE5" id="header3-29">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 85%;">
                <img src="assets/images/captura-de-pantalla-2019-11-05-a-las-10.02.05-1014x826.png" alt="Mobirise" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    <br><br><strong>{{'ATTRACT.Multichannel Selection Strategy' | translate }}</strong></h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5" [innerHtml]="'ATTRACT.talent is not in one place, so we will help you reach many of them quickly. Thanks to reach them with just one click' | translate">    
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
    