<section class="features18 popup-btn-cards cid-rHftjG9Whx" id="features18-37">
    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(239, 239, 239);">
    </div>
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-1"><strong> {{'MANAGE.Manage your processes' | translate}}</strong></h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
            {{'MANAGE.Customize your processes as you want depending on the profile you are looking for.' | translate }} 
            
            {{'MANAGE.We know that each one has its stages and its times.' | translate }}
            
            <strong>Kiworx</strong> 
            {{'MANAGE.allows you to organize them in the best way and have a detailed follow-up.' | translate}}
            
            &nbsp;<br>
            <strong>{{'MANAGE.Win time and quality!' | translate }} </strong>
        </h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <img src="assets/images/imagen-1-1046x501.png" alt="Kiworx" title="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<section class="features18 popup-btn-cards cid-rHdR7uAv5x mbr-parallax-background" id="features18-2j">
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(239, 239, 239);">
    </div>
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-1"><strong> {{'MANAGE.Organize and share your calendar with the candidates' | translate }}</strong></h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
            <strong>{{'MANAGE.Dont worry about scheduling your interviews.' | translate}}</strong>
                {{'MANAGE.You will no longer have to waste time contacting candidates to schedule interviews. Send them a link so that they adapt to your schedules quickly and easily.' | translate }} 
            <br>
        </h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        
                        <img src="assets/images/imagen-1-1046x426.png" alt="Kiworx" title="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-rHdR84xnJD mbr-parallax-background" id="features18-2k">

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(193, 193, 193);">
    </div>
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-1"><strong> {{'MANAGE.Collaborative Recruitment' | translate }} </strong><strong><br></strong></h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light display-2" [innerHtml]="'MANAGE.We know that together you recruit better. Invite other members of your team, make comments, tasks so that no detail of the selection process is escaped and so we recruit better and faster.' | translate ">
        </h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        
                        <img src="assets/images/imagen-1-583x388.jpg" alt="Kiworx" title="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header3 cid-rHewhHPWPu mbr-parallax-background" id="header3-32">

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(239, 239, 239);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="assets/images/imagen-1-583x388.jpg" alt="Kiworx" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1"><strong><br></strong><br><strong> {{'MANAGE.Employee Referrals' | translate}} </strong></h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5"><strong> {{'MANAGE.Rewarding your employees for recommendations is simple!' | translate }} </strong><br>
                        {{'MANAGE.TOP employees know TOP talent. We make it easy for them to recommend them as just Submitting your CV or LinkedIn profile. Reward them for it and make the referred talent not stop growing.' | translate }} </p>
                </div>
                
            </div>
        </div>
    </div>

</section>

<section class="features18 popup-btn-cards cid-rHdR9oWjHK mbr-parallax-background" id="features18-2m">
    
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(193, 193, 193);">
    </div>
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-1"><strong>{{'MANAGE.Candidate base' | translate}} </strong></h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
            <span [innerHtml]="'MANAGE.Kiwix filter that allows you to quickly identify the talent we already knew.' | translate"></span><br>
            
            <div [innerHtml]="'MANAGE.Do not waste time looking for those who have already applied to your company. Before launching a new process, search your existing database and filter by the characteristics that are most appropriate for the position. If it fits into the new position you are looking for, connect with it to sign up' | translate"></div>
        </h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        
                        <img src="assets/images/imagen-1-1046x512.png" alt="Kiworx" title="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-rHdR9WgQ7V mbr-parallax-background" id="features18-2n">
    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(239, 239, 239);">
    </div>
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-1"><strong>{{'MANAGE.KPIs in real-time' | translate}}</strong></h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
            {{'MANAGE.What can be measured can be improved' | translate}}
            <div [innerHtml]="'MANAGE.Measure everything that happens in the recruitment process centrally and discover that it works well and what could be improved.' | translate">
                    
            </div>
            <div>
                <strong>{{'MANAGE.APPLICANTS, AVERAGE TIME TO RECRUIT, VIEWS' | translate}}</strong>
            </div>
        </h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        
                        <img src="assets/images/imagen-1-727x531.png" alt="Kiworx" title="Kiworx">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
    