<section class="header3 cid-rHdQ4iCCC8" id="header3-2d">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="assets/images/captura-de-pantalla-2019-11-05-a-las-11.24.05-1014x730.png" alt="Kiworx" title="Qualify">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1"><strong><br></strong><br><strong>{{'QUALIFY.interact with our algorithm' | translate}}</strong></h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5" [innerHtml]="'The candidate will start their' | translate"></p>
                </div>
                
            </div>
        </div>
    </div>
</section>
    
<section class="header3 cid-rHCxnS6Vil mbr-parallax-background" id="header3-3i">
    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(193, 193, 193);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 75%;">
                <img src="assets/images/captura-de-pantalla-2019-11-12-a-las-15.39.36-884x656.png" alt="Qualify" title="Qualify">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    <strong>{{'QUALIFY.The science' | translate }}</strong>
                </h1>
                <h3 class="mbr-section-subtitle align-left mbr-white mbr-light pb-3 mbr-fonts-style display-5">
                    {{'QUALIFY.The data is unbiased. That is why' | translate }} 
                    <strong>Inteligencia Artificial</strong> 
                    {{'QUALIFY.allows us to decipher the behavior of candidates.' | translate}}
                    <br><br>
                    <div>
                        <strong>Kiwix</strong> {{'QUALIFY.different records which depending on the intensity and combination will give us an unique emotional model:' | translate }} 
                        <strong>{{'QUALIFY.PATTERN' | translate}}.</strong>.
                    </div>
                    <br>
                    <div [innerHtml]="'QUALIFY.This pattern is compared to the single success pattern for the position by associating a % match to it.' | translate"></div>
                    <div>
                        <br>
                    </div>
                    <div>
                        <br>
                    </div>
                </h3>
                <div class="mbr-section-text mbr-white pb-3 ">    
                </div>
            </div>
        </div>
    </div>
</section>
    
<section class="header3 cid-rHdQ66IEbi mbr-parallax-background" id="header3-2f">
    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(193, 193, 193);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 65%;">
                <img src="assets/images/funnel-887x927.png" alt="Mobirise" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1"><strong><br></strong><br><strong>{{'QUALIFY.Ranking based on profile and position' | translate }}</strong></h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">
                        <span [innerHtml]="'QUALIFY.We will send you a ranking with the profiles that best suit the required position.' | translate"></span>
                        <br><br>
                        <em>
                            <strong>{{'QUALIFY.Save time and enjoy doing others valuable activities.' | translate }}</strong>
                        </em>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</section>