
    
    <section class="engine"></section><section class="cid-qTkA127IK8 mbr-fullscreen" id="header2-1">
    
        
    
        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(118, 118, 118);"></div>
    
        <div class="container align-center">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1"><br><br><br><br>{{ 'HOME.OPTIMIZE YOUR RECRUITMENT PROCESS AND DISCOVER THE RIGHT TALENT' | translate }}</h1>
                    
                    <p class="mbr-text pb-3 mbr-fonts-style display-5"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong><br><strong>HIRING HAS NEVER BEEN EASIER&nbsp;</strong><br><br></p>
                    <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-7" href="page5.html">{{'HOME.CONTACT US' | translate }}</a></div>
                </div>
            </div>
        </div>
        
    </section>
    
    <section class="header1 cid-rH7YoUymw6" id="header16-23">
    
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10 align-center">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">{{'HOME.What is Kiworx?' | translate }}</h1>
                    
                    <p class="mbr-text pb-3 mbr-fonts-style display-5">
                        {{'HOME.What is Kiworx? answer1' | translate }} 
                        <strong>{{'HOME.What is Kiworx? answer2' | translate }}</strong>
                        {{'HOME.What is Kiworx? answer3' | translate }}
                        <strong>{{'HOME.What is Kiworx? answer4' | translate }}</strong>
                        {{'HOME.What is Kiworx? answer5' | translate }}
                        <strong>{{'HOME.What is Kiworx? answer6' | translate }}</strong>
                        {{'HOME.What is Kiworx? answer7' | translate }}

                        <br>
                    </p>
                    
                </div>
            </div>
        </div>
    
    </section>
    
    <section class="features8 cid-rGReaZO8Ao" id="features8-j">
    
        
    
        
    
        <div class="container">
            <div class="media-container-row">
    
                <div class="card  col-12 col-md-6 col-lg-4">
                    <div class="card-img">
                        <span class="mbr-iconfont mbri-desktop" style="font-size: 1px;"></span>
                    </div>
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style display-5"><strong>
                                {{'HOME.ATTRACT' | translate }}</strong></h4>
                        <p class="mbr-text mbr-fonts-style display-5">{{'HOME.ATTRACT_BODY_1' | translate }} 
                            <br><br><br>
                            <strong>{{'HOME.ATTRACT_BODY_2' | translate }}</strong>
                            <br>
                        </p>
                        <div class="mbr-section-btn text-center"><a href="page1.html" class="btn btn-primary display-7" target="_blank">{{'HOME.READ_MORE' | translate }}</a></div>
                    </div>
                </div>
    
                <div class="card  col-12 col-md-6 col-lg-4">
                    <div class="card-img">
                        <span class="mbr-iconfont mbri-touch" style="font-size: 1px;"></span>
                    </div>
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style display-5"><strong>{{'HOME.QUALIFY' | translate }} </strong></h4>
                        <p class="mbr-text mbr-fonts-style display-5">{{'HOME.QUALIFY_BODY_1' | translate }} 
                            <br><br><br>
                            <strong> {{'HOME.QUALIFY_BODY_2' | translate }} </strong>&nbsp;<br></p>
                        <div class="mbr-section-btn text-center"><a href="page2.html" class="btn btn-primary display-7">
                                {{'HOME.READ_MORE' | translate }}</a></div>
                    </div>
                </div>
    
                <div class="card  col-12 col-md-6 col-lg-4">
                    <div class="card-img">
                        <span class="mbr-iconfont mbri-responsive" style="font-size: 1px;"></span>
                    </div>
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style display-5"><strong>{{'HOME.MANAGE' | translate }}</strong></h4>
                        <p class="mbr-text mbr-fonts-style display-5">
                                {{'HOME.MANAGE_BODY_1' | translate }} <br><br><strong><br></strong><strong> {{'HOME.MANAGE_BODY_2' | translate }} </strong></p>
                        <div class="mbr-section-btn text-center"><a href="page3.html" class="btn btn-primary display-7">{{'HOME.READ_MORE' | translate }}</a></div>
                    </div>
                </div>
    
                
            </div>
        </div>
    </section>
    
    <section class="header12 cid-rGRysotemP" id="header12-q">
    
        <div class="container  ">
                <div class="media-container">
                    <div class="col-md-12 align-center">
                        <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1"><br>{{'HOME.Why use Kiworx?' | translate}}</h1>
                        
                        
    
                        <div class="icons-media-container mbr-white">
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="icon-block">
                                <a href="https://mobirise.co/">
                                    <span class="mbr-iconfont mobi-mbri-timer mobi-mbri" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255); font-size: 88px;"></span>
                                </a>
                                </div>
                                <h5 class="mbr-fonts-style display-5"><strong> {{'HOME.Time saving' | translate }} </strong></h5>
                            </div>
    
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="icon-block">
                                    <a href="https://mobirise.co/">
                                        <span class="mbr-iconfont mobi-mbri-cash mobi-mbri" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255); font-size: 88px;"></span>
                                    </a>
                                </div>
                                <h5 class="mbr-fonts-style display-5"><strong> {{'HOME.Employee Turnover' | translate }} </strong></h5>
                            </div>
    
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="icon-block">
                                    <a href="https://mobirise.co/">
                                        <span class="mbr-iconfont mobi-mbri-smile-face mobi-mbri" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255); font-size: 88px;"></span>
                                    </a>
                                </div>
                                <h5 class="mbr-fonts-style display-5"><strong> {{'HOME.Improve talent experience' | translate }} </strong></h5>
                            </div>
    
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="icon-block">
                                    <a href="https://mobirise.co/">
                                        <span class="mbr-iconfont mobi-mbri-update mobi-mbri" style="font-size: 88px;"></span>
                                    </a>
                                </div>
                                <h5 class="mbr-fonts-style display-5"><strong> {{'HOME.Cost saving' | translate }} </strong></h5>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    
        
    </section>
    
    <section class="header3 cid-rH3chVFe6S mbr-parallax-background" id="header3-1q">
    
        
    
        <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
        </div>
    
        <div class="container">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 95%;">
                    <img src="assets/images/captura-de-pantalla-2019-11-08-a-las-12.44.15-1014x632.png" alt="Mobirise" title="">
                </div>
    
                <div class="media-content">
                    <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1"><strong>{{'HOME.If you want to be more efficient:' | translate }} </strong><br><strong><br></strong></h1>
                    
                    <div class="mbr-section-text mbr-white pb-3 ">
                        <p class="mbr-text mbr-fonts-style display-5"><strong> {{'HOME.Identifying and recruiting talent' | translate}}</strong>
                            <strong><br> {{'HOME.Managing and measuring your recruitment processes.' | translate }} </strong>
                            <br><strong> {{'HOME.Optimizing time and costs.' | translate }} <br></strong><br></p>
                    </div>
                    <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-7" href="page5.html">{{'HOME.CONTACT US' | translate }}</a></div>
                </div>
            </div>
        </div>
    
    </section>
    
    <section class="counters1 counters cid-rGS5fGxl7H" id="counters1-x">
        <div class="container">
            <h3 class="mbr-section-subtitle mbr-fonts-style display-1"><strong>
                {{'HOME.KIWORX IN A VIEW' | translate }} </strong></h3>
    
            <div class="container pt-4 mt-2">
                <div class="media-container-row">
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-pin" style="font-size: 60px; color: rgb(107, 66, 206); fill: rgb(107, 66, 206);"></span>
                            </div>
    
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-5">{{'HOME.Anytime, Anyplace' | translate }} </h3>
                                
                                
                            </div>
                        </div>
                    </div>
    
    
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-clock" style="font-size: 60px; color: rgb(107, 66, 206); fill: rgb(107, 66, 206);"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-5">{{'HOME.Less than 15 minutes' | translate }}</h3>
                                
                                
                            </div>
                        </div>
                    </div>
    
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-timer" style="font-size: 60px; color: rgb(107, 66, 206); fill: rgb(107, 66, 206);"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-5">
                                     {{'HOME.Candidate data in real-time' | translate }}</h3>
                                
                                
                            </div>
                        </div>
                    </div>
    
    
                    
                </div>
            </div>
       </div>
    </section>
    
    <section class="counters1 counters cid-rGS5upoenA" id="counters1-y">
    
        
    
        
    
        <div class="container">
            
            
    
            <div class="container pt-4 mt-2">
                <div class="media-container-row">
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-error" style="font-size: 60px; color: rgb(107, 66, 206); fill: rgb(107, 66, 206);"></span>
                            </div>
    
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-5">
                                    {{'HOME.No bias' | translate }}  </h3>
                                
                                
                            </div>
                        </div>
                    </div>
    
    
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-responsive" style="font-size: 60px; color: rgb(107, 66, 206); fill: rgb(107, 66, 206);"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-5">{{'HOME.An integral platform to manage the selection process' | translate }} 
    <div><br></div></h3>
                                
                                
                            </div>
                        </div>
                    </div>
    
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-growing-chart" style="font-size: 60px; color: rgb(107, 66, 206); fill: rgb(107, 66, 206);"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-5">{{'HOME.Real time KPIs' | translate }} 
    <div><br></div></h3>
                                
                                
                            </div>
                        </div>
                    </div>
    
    
                    
                </div>
            </div>
       </div>
    </section>
    
    